# Outputs y datos grandes
output/
coco_images/
lama_test_input/
lama_test_output/
*.json
*.zip

# Checkpoints y modelos
checkpoints/
big-lama/
*.pt
*.pth

# Entornos
tfg_env/
lama_env/
__pycache__/
*.pyc
.DS_Store