# Outputs generados
output/
output_lama/
output_replicate/
lama_test_input/
lama_test_output/
lama_test_output_refined/
experiments/

# Datos grandes
data/
*.zip

# Checkpoints y modelos
checkpoints/
models/lama/big-lama/
*.pt
*.pth

# Entornos
tfg_env/
lama_env/
__pycache__/
*.pyc
*.pyc

# Sistema
.DS_Store
predict.log